.App {
  align-items: center;
  text-align: center;
  color: whitesmoke;
}

body {
  background-image: url(./ImagenFondo/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.funciones {
  color: #2a2a2a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
  .funciones {
    width: 90%;
  }
}

.navbar {
  background-color: rgb(41, 41, 35);
  border: 0.px solid #47474774;
  border-radius: 0.05rem;
  box-shadow: 0.1rem 0.3rem -0.03rem #47474774;
}

#tituloprincipal {
  color: whitesmoke;
}

.mensaje {
  opacity: 40%;
}

.input {
  width: 100%;
  max-width: 500px;
}

.card {
  max-height: 20%;
  padding: 5px 5px;
  background-color: rgba(41, 41, 35, 0.189);
}

.descripcion {
  text-transform: capitalize;
}

.img {
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: fill;
  height: max(10rem, 25vh);
  aspect-ratio: 4/3;
  mix-blend-mode: var(--card-blend-mode);
}

.tool {
  position: relative;
  display: inline-block;
}

.tool .tooltiptext {
  visibility: hidden;
  color: #fff;
  position: absolute;
  font-size: 10px;
  left: 35px;
  top: -3px; 
  
}

.tool:hover .tooltiptext {
  visibility: visible;
}